<template>
  <v-app>
    <div id="app">
      <v-container>
        <v-row>
          <v-col>
            <v-card class="mx-auto" max-width="500">
              <a href="#" class="text-decoration-none px-2"><v-icon style="color:#0EAEF5;">mdi-arrow-left</v-icon> Back to Mile</a>
			  <v-list-item class="text-center">
                <v-list-item-content class="mt-10">
                  <v-img
                    class="mx-auto"
                    src="@/assets/69ece7b1819e760b63623e810922b59e.png"
                    max-width="200"
                  ></v-img>
                  <div class=" my-5">
                    Your one stop platform to manage all of your field service
                    management
                  </div>
                  <div class="input-div mx-auto">
                    <v-text-field
                      v-model="email"
                      :rules="[rules.required, rules.email]"
                      label="E-mail"
                    ></v-text-field>
                  </div>
                  <div class="input-div mx-auto">
                    <v-text-field
                      v-model="password"
                      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                      :rules="[rules.required, rules.min]"
                      :type="show1 ? 'text' : 'password'"
                      name="input-10-1"
                      label="Password"
                      hint="At least 8 characters"
                      @click:append="show1 = !show1"
                    ></v-text-field>
                  </div>
                  <div class="input-div mx-auto my-4">
                    <v-btn block color="primary">Sign In</v-btn>
                  </div>
                  <div class="login-text my-2">
                    Forgot password? <a href="#">Click here.</a>
                  </div>
                  <div class="login-text mt-2">
                    Not registered yet? <a href="#">Contact Us</a> for more info
                  </div>
                </v-list-item-content>
              </v-list-item>
              <v-list-item class="text-center">
                <v-list-item-content>
                  <div>
                    Or
                  </div>
                  <div class="input-div mx-auto my-2">
                    <v-btn block light color="primary"><v-icon class="mr-1" small>mdi-google</v-icon>Sign in with Google</v-btn>
                  </div>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
	  <footer class="text-center mt-5 mb-2">
		  © Copyright 2019 PT. Paket Informasi Digital. All Rights Reserved
	  </footer>
    </div>
  </v-app>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  data() {
    return {
      show1: false,
      password: "",
      email: "",
      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 8 || "Min 8 characters",
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        }
      }
    };
  }
};
</script>
<style lang="scss" scoped>
.input-div {
  max-width: 80%;
}
.login-text{
	font-size: 14px;
}
#app{
	font-family: Nunito;
	letter-spacing: 0.5px;
	div{
		letter-spacing: 0.5px;
	}
}
</style>
